@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

.buttonBullet {
  font-family: 'Gochi Hand', regular;
  font-size: 1.1em;
}

.complete {
  text-decoration: line-through;
}

body {
  background: url(./notebook-background.png);
  background-repeat: repeat-y;
  padding-left: 130px;
  padding-top: 30px;
  font-family: 'Gochi Hand', regular;
  font-size: 1.5em;
  /*Please set this background color as close to the background image as possible.
  titlebar for seamless window on macOS will use this background color.
  typora for Win/Linux will use this to judge whether typora is in dark mode or light mode*/
}

span.blue {
  background: #5178D0;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-family: monospace;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 0px;
  text-align: center;
  width: 1.6em;
}

span.bulletCategory {
  background: #EFEFEF;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: black;
  display: inline-block;
  font-size: 1.2em;
  /* font-family: monospace;
  font-weight: bold; */
  line-height: 1.6em;
  margin-right: -10px;
  text-align: center;
  width: 1.6em;
}

span.projectInfoDescription {
  background: #007bff;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: white;
  display: inline-block;
  font-size: 1em;
  /* font-family: monospace;
  font-weight: bold; */
  line-height: 1.1em;
  margin-left: 10px;
  text-align: center;
  width: 1.1em;
}

.categorySelection {
  font-family: monospace;
  font-size: 1em;
}
